h1 {
    color: teal;
    font-family: sans-serif
}

p {
    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    padding: 20px;
    background-color: gray
}

#main_content {
    width: 50%;
    background-color: white;
    padding: 30px;
}

#profile {
    height: 300px;
    width: 230px;
    padding: 20px;
}

* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* CSS FOR PORTFOLIO*/
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }
  
  @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 640px) {
    .column {
      width: 100%;
    }
  }